i {
  font-size: 2rem;
  color: black;
}

img {
  max-width: 100px;
  max-height: 100px;
  margin: 20px auto;
  display: block;
}

#item1 {
  margin: 0;
  padding: 0;
}

#button1 {
  margin: 0;
  padding: 0;
}
