h1 {
  text-align: center;
}

.text-center {
margin: 20px 20px 20px 20px;
}

i.fas fa-plus {
margin: 50px 50px 50px 50px;
}


.centerButton {
  margin-left: 50%;
  margin-right: 50%;
}

.rightButton {
  float: right;
  margin: 5px;
}
