/* Color Scheme
#3d5a80 Purple Navy
#98c1d9 Pale Cerulean
#e0fbfc Light Cyan
#edaf4b Maximum Yellow Red (yellow)
#293241 Gunmetal
#ee6c4d Light Red Ochre (red)
#4bed71 UFO Green (green)
*/


/* general styling including buttons, headers, font, background */

body {
  background-color: #3d5a80;
}

h1 {
  text-align: center;
}

h2 {

}

label {
  color: #e0fbfc;
}

.btn-danger {
  background-color: #ee6c4d;
  border-color: transparent;
}

.btn-primary {
  background-color: #4bed71;
  border-color: transparent;
  color: #000;
}

.centerButton {
text-align: center;
}

.rightButton {
  text-align: right;
  margin: 5pt;
}

/* event.html styling: form spacing */

.dateWidth {
  width: 55%;
}

.timeWidth {
  width: 45%;
}

/* dashboard styling - card headers, card bodies, icons, thank/accept/done buttons, date picker, edit button */

/* user icons */
i {
  font-size: 2rem;
  color: black;
}

/* logo */
#logo {
  width: 100px;
  height: 100px;
  margin: 20px auto;
  display: block;
}

  /* was having issues with bootstrap margins/padding so I overwrote it */
.button-complete {
  margin: 0 0 0 20px;
  padding: 0;
}

/* the far left icon in the card */
.status {
  padding: 0;
  text-align: center;
  margin: 0;
}

/* colors for background of the heading section of each card */
.task-complete {
  background-color: #4bed71;
}

.task-pending {
  background-color: #ee6c4d;
}

.task-accepted {
  background-color: #edaf4b;
}

/* date label color */
.dashboard-label {
  color: #98c1d9;
}

/* card border and background */
.card {
  border-color: transparent;
  background-color: #293241;
}

/* user icons at top */
.fa-users, .fa-user, .fa-home, .fa-users-cog{
  color: #e0fbfc;
}

/* icons for each card */
.fa-handshake, .fa-hourglass-start, .fa-check {
  margin-top: 2px;
  font-size: 27px;
  color: #fff;
  border-radius: 3px
}

/* handshake icon */
.fa-handshake {
  background-color: #ee6c4d;
  padding: 6px 3px 6px 3px;
}

/* hourglass-start icon */
.fa-hourglass-start {
  background-color: #edaf4b;
  padding: 6px 10px 6px 10px;
}

/* check icon */
.fa-check {
  background-color: #4bed71;
  padding: 6px 7px 6px 6px;
}

/* alert in header */
.alert {
  margin: 3px 5px 3px 16px;
  padding: 0;
  background-color: #98c1d9;
  color: #000;
  border-color: transparent;
}

/* thanks, accept, and done buttons text color and border*/
.btn-success, .btn-warning, .btn-danger {
  color: #000;
  border-color: transparent;
}

/* button hover */
.btn-success:hover, .btn-warning:hover, .btn-danger:hover {
  color: #000;
  background-color: #fff;
}

/* thanks button bg color */
.btn-success {
  background-color: #4bed71;
}

/* thanks button bg color */
.btn-warning {
  background-color: #edaf4b;
}

/* thanks button bg color */
.btn-danger {
  background-color: #ee6c4d;
}

/* drop down collapse */
.drop-down {
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

/* card header */
.card-header {
  padding: 5px 20px 5px 5px;
  background-color: #e0fbfc;
  border-color: transparent;
  margin: 0;
}

/* new plus circle */
.fa-plus-circle {
  margin-top: 10px;
  margin-right: 5px;
  color: #fff;
}
/*landing styling - link buttons, logo image */

.my-4 {
  text-align: center;
  color: #fff;
}

img {
  height: 150px;
  width: 150px;
  margin: 70px 20px;
}
