/* Color Scheme
#3d5a80 Purple Navy
#98c1d9 Pale Cerulean
#e0fbfc Light Cyan
#edaf4b Maximum Yellow Red (yellow)
#293241 Gunmetal
#ee6c4d Light Red Ochre (red)
#4bed71 UFO Green (green)
*/

h1 {
  font-size: 1.5em;
}

body {
  margin: 2%;
  padding: 2%;
  color: #293241;
  text: #293241;
  border: 1px solid #e0fbfc;
  background-color: #3d5a80;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #98c1d9;
}

input {
  background-image: linear-gradient(-45deg, #3d5a80, #98c1d9);
  color: #293241;
  box-shadow: 2px 2px 2px #98c1d9;
  border: 1px solid #e0fbfc;
}

.form-control::placeholder {
    color: #293241;
    opacity: 1;
}

.form-control {
    color: #293241;
    opacity: 1;
}

select option {
  background-image: linear-gradient(-45deg, #3d5a80, #98c1d9);
  color: #293241;
}

.custom-select {
  background-size: 0;
  padding: 0;
  box-shadow: 2px 2px 2px #98c1d9;
}

.custom-select[multiple]{
  padding-right: 0;
  border: 1px solid #e0fbfc;
}

.badge {
  background-image: linear-gradient(-45deg, #3d5a80, #98c1d9);
  box-shadow: 2px 2px 2px #98c1d9;
  color: #293241;
  border: 1px solid #e0fbfc;
}

.btn-danger {
  background-color: #ee6c4d;
  border-color: #ee6c4d;
  color: #293241;
}

.btn-primary {
  background-color: #4bed71;
  border-color: #4bed71;
  color: #293241;
}

.centerButton {
text-align: center;
}

.rightButton {
  text-align: right;
  margin: 5px;
}
