/* Color Scheme
#3d5a80 Purple Navy
#98c1d9 Pale Cerulean
#e0fbfc Light Cyan
#edaf4b Maximum Yellow Red (yellow)
#293241 Gunmetal
#ee6c4d Light Red Ochre (red)
#4bed71 UFO Green (green)
*/

.centerButton {
text-align: center;
}

.rightButton {
  text-align: right;
  margin: 5px;
}
